header{
    display: block;
    height: 140px;
    text-align: center;
}

.altura{
    height: 70px;
    line-height: 90px;
}

.header-board{
    display: block;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    background-color: #FDFBF1;
    color: #004D4C;
    font-size: 13px;
}

.bloco{
    color: white;
    height: 1px;
    display: block;
    background-color:#FFD877;
}

.titolo{
    font-size: 35px;
    text-align: center;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;

}

.pretext{
    color: #333333;
    font-size: 16px;
}


.rodape{
    text-align: center;
    color: #999999;
    font-size: 16px;
    padding: 20px;
}

main{
    margin-inline: auto;
    width: 700px;   
}





footer{
    margin-inline: auto;
    width: 700px;
}